## Function

In [1]:
def greeting():
  print("Welcome to this conceptual session - 1 ")

greeting()

Welcome to this conceptual session - 1

In [1]:
# Positional Parameters

def greeting(name2, name1):
  print("Welcome to this conceptual session - 1 ", name1)

greeting("Rabeya", "Noor")

Welcome to this conceptual session - 1  Noor

In [3]:
# Keyword Parameters
def info(name, age, country="Bangladeshi"):
    print(f"{name} age is: {age} and {country}")

info(age=20, name="Rakib")

Rakib age is: 20 and Bangladeshi

In [36]:
# Keyword Parameters
def info(name, age):
    print(f"{name} age is: {age} ")

info(20, "Rakib")

20 age is: Rakib

In [38]:
def add(a,b,c,d):
    return a+b+c+d
print(add(1,3,4,5))

13

In [ ]:
def add(*a): # a = args ( *  dile aKsathe  sobgulo valu nea nay.  )

# * tuple

  print(type(a))
  print(a)

add(1, 2, 3, 4, 5, 6, 7, 8)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)

In [9]:
def info(**k): #  ** dictionary
    print(type(k))
    print(f"{'name'} age is: {'age'} and {'country'}")


info( name="Rakib",age=20, country="bd")

<class 'dict'>
name age is: age and country

In [10]:
def info(**k): #  ** dictionary
    print(type(k))
    print(f"{k['name']} age is: {k['age']} and {k['country']}")
   

info(age=20, name="Rakib", country="bd", phone="01821")

<class 'dict'>
Rakib age is: 20 and bd

In [8]:
def func()->float:
  return 10

print(func())

10

In [39]:
# Dictionary Return
def get_student():
    student = {
        "name": "Rakib",
        "age": 21,
        "city": "Dhaka"
    }
    return student

info = get_student()
print(info)
print(info['name'])

{'name': 'Rakib', 'age': 21, 'city': 'Dhaka'}
Rakib

In [ ]:
def get_student():
    student1 = {
        "name": "Rakib",
        "age": 21,
        "city": "Dhaka"
    }
    student2 = {
        "name": "Rakib2",
        "age": 21,
        "city": "Dhaka2"
    }
    return student1,student2

print( get_student())

({'name': 'Rakib', 'age': 21, 'city': 'Dhaka'}, {'name': 'Rakib2', 'age': 21, 'city': 'Dhaka2'})

In [41]:
def get_student():
    student1 = {
        "name": "Rakib",
        "age": 21,
        "city": "Dhaka"
    }
    student2 = {
        "name": "Rakib2",
        "age": 21,
        "city": "Dhaka2"
    }
    return (student1,student2)

x, y = get_student()

print(x)
print(y)

{'name': 'Rakib', 'age': 21, 'city': 'Dhaka'}
{'name': 'Rakib2', 'age': 21, 'city': 'Dhaka2'}

In [12]:
def get_student():
    student1 = {
        "name": "Rakib",
        "age": 21,
        "city": "Dhaka"
    }
    student2 = {
        "name": "Rakib2",
        "age": 21,
        "city": "Dhaka2"
    }
    return (student1,student2)

#x, y = get_student()
l = list(get_student())
print(l)

[{'name': 'Rakib', 'age': 21, 'city': 'Dhaka'}, {'name': 'Rakib2', 'age': 21, 'city': 'Dhaka2'}]

## Iterator

In [14]:
arr = [10, 20, 30, 40]

for i in arr:
    print(i)
print('\n')

itr = iter(arr) 
print(next(itr)) #0 index
print(next(itr)) # 1 
print(next(itr))# 2
print(next(itr))

10
20
30
40


10
20
30
40

In [16]:
student = {'name': 'Alice', 'age': 20, 'city': 'Dhaka'}


itr=iter(student.items())
print(next(itr))
print(next(itr))

itr = iter(student.keys())
print(next(itr))
print(next(itr))
print('\n')

for a in student.keys():
  print(a)

('name', 'Alice')
('age', 20)
name
age


name
age
city

## Generator

In [45]:
def fun():
    result=[]
    for i in range(5):
        result.append(i)
    return result

print(fun())

[0, 1, 2, 3, 4]

In [ ]:
def fun():
  for i in range(5):
    yield i  # yield use korle generator function create hoy

print(type(fun()))

<class 'generator'>

In [47]:
def fun():
  for i in range(5):
    yield i


ltr = fun()
print(next(ltr))
# #sdfsdf
# #sdfsdf
print(next(ltr))

0
1

In [17]:
def fun(nums):
    for i in nums:
        yield i

lst =[1,2,3,4]
ltr = fun(lst)
print(next(ltr))
print(next(ltr))

1
2

In [48]:
def fun():
  for i in range(5):
    print("Kaj shuru holo ", i)
    yield i


ltr = fun()
print(next(ltr))
print("hello ")
print(next(ltr))

Kaj shuru holo  0
0
hello
Kaj shuru holo  1
1

## List Comprehension

In [13]:
numbers = [1, 2, 3, 4, 5]
squared = []

for num in numbers:
    squared.append(num * num)

print(squared)

[1, 4, 9, 16, 25]

In [14]:
numbers = [1, 2, 3, 4, 5]

squared = [n for n in numbers]

print(squared)

[1, 2, 3, 4, 5]

In [50]:
numbers = [1, 2, 3, 4, 5]

squared = [n*n*n for n in numbers]

print(squared)

[1, 8, 27, 64, 125]

In [21]:
numbers = [1, 2, 3, 4, 5]
squared = []

for n in numbers:
    squared.append(n * n*n)

print(squared)

[1, 8, 27, 64, 125]

In [51]:
numbers = [1, 2, 3, 4, 5]

squared = [n+100 for n in numbers]

print(squared)

[101, 102, 103, 104, 105]

In [52]:
numbers = [1, 2, 3, 4, 5]

squared = [{"value":n} for n in numbers]

print(squared)

[{'value': 1}, {'value': 2}, {'value': 3}, {'value': 4}, {'value': 5}]

In [53]:
numbers = [1, 2, 3, 4, 5]

squared = [f"Rakib {n}" for n in numbers]

print(squared)

['Rakib 1', 'Rakib 2', 'Rakib 3', 'Rakib 4', 'Rakib 5']

In [15]:
numbers = [1, 2, 3, 4, 5]

squared = [n for n in numbers if n%2==1]

print(squared)

[1, 3, 5]

In [16]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared = [n*n if(n*n >30) else 0 for n in numbers if n%2==1]

print(squared)

[0, 0, 0, 49, 81]

In [17]:
scores = [85, 42, 76, 91, 35]
grades = [f'Pass {s}' if s >= 50 else f'Fail {s}' for s in scores]
print(grades)

['Pass 85', 'Fail 42', 'Pass 76', 'Pass 91', 'Fail 35']

In [54]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
f = [i for i in matrix ]

print(f)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
f = [j for i in matrix for j in i]
## for i in matrix:
  #  for j in i:
  # f.apped(j)

print(f)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
students = [
    {'name': 'Alice', 'age': 20},
    {'name': 'Bob', 'age': 22},
    {'name': 'Charlie', 'age': 19}
]

names = [ s for s in students]
print(names)

names = [s['name'] for s in students]
print(names)

names = [f"name {s} "for s in students]
print(names)

names = [{"name": s} for s in students]
print(names)

[{'name': 'Alice', 'age': 20}, {'name': 'Bob', 'age': 22}, {'name': 'Charlie', 'age': 19}]
['Alice', 'Bob', 'Charlie']
["name {'name': 'Alice', 'age': 20} ", "name {'name': 'Bob', 'age': 22} ", "name {'name': 'Charlie', 'age': 19} "]
[{'name': {'name': 'Alice', 'age': 20}}, {'name': {'name': 'Bob', 'age': 22}}, {'name': {'name': 'Charlie', 'age': 19}}]

In [31]:
# CSV data cleaning
raw_data = [' 25 ', '30 ', ' 42', 'abc', '50']

clean = [r for r in raw_data if r.strip().isdigit()]
print(clean)

clean = [int(r) for r in raw_data if r.strip().isdigit()]
print(clean)
# [25, 30, 42, 50]

[' 25 ', '30 ', ' 42', '50']
[25, 30, 42, 50]

In [21]:
d = [ [[1, 3], [4, 5]], [[6, 7], [8,9]]]

a = [k  for i in d for j in i for k in j]
print(a)

# for i in d:
#   for j in i:
#     for k in j:
#       print(k)

[1, 3, 4, 5, 6, 7, 8, 9]

## lambda , map , filter , reduce function

lambda

In [22]:
def greet():
  print('Hello World')
greet()

Hello World

In [23]:
greet = lambda : print('Hello World')
greet()

Hello World

In [24]:
greet = lambda name: print('Hello World' ,name)

greet("Rakib")

Hello World Rakib

## Map

map(function, iterable, ...)

In [36]:
arr = [1, 2, 3, 4, 5]

arr2 = map(lambda x: x*x, arr)
print(next(arr2))
print(next(arr2))
print(next(arr2))
print(next(arr2))
print(next(arr2))

1
4
9
16
25

In [32]:
arr = [1, 2, 3, 4, 5]

arr2 = list(map(lambda x: x*x, arr))
print(arr2)

[1, 4, 9, 16, 25]

In [26]:
scores = [85, 92, 78, 65, 45]

def grade(x):
  if x >=80 : return f"Score is {x} and A+"
  if x >=70 : return f"Score is {x} and A"
  if x >=60 : return f"Score is {x} and A-"
  else : return f"Score is {x} and F-"

grades = list(map(grade,scores))
print(grades)

['Score is 85 and A+', 'Score is 92 and A+', 'Score is 78 and A', 'Score is 65 and A-', 'Score is 45 and F-']

## Filter

filter(function, iterable)

In [27]:
scores = [85, 92, 78, 65, 45]

select = list(filter(lambda x: x>80 , scores))
print(select)

[85, 92]

In [57]:
# Valid Email Filter
emails = ["user@mail.com", "invalid", "test@gmail.com", "no@", "admin@site.org"]

def check(s):
  if '@' in s and '.' in s:
    return s;


# selected = list( filter(lambda e: '@' in e and '.' in e  , emails) )
selected = list( filter(check , emails) )
print(selected)

['user@mail.com', 'test@gmail.com', 'admin@site.org']

## Reduce

In [29]:
from functools import reduce
arr = [1,2,3,4,5]

sum = reduce(lambda x,y: x+y, arr)
print(sum)

15

In [30]:
from functools import reduce
arr = [1,2,3,4,5]

sum = reduce(lambda x,y: x*y, arr, 10)
print(sum)

1200

In [31]:
from functools import reduce

sentences = ["I love Python", "Machine Learning is fun", "AI is the future"]

def count_vowel(text):
  sum=0
  for ch in text.lower():
    if ch in 'aeiou':
      sum+=1

  return sum

total = reduce(lambda x, y: x + count_vowel(y), sentences, 0)
print(total)

19

Double-click (or enter) to edit

## Write and Read CSV File

In [32]:
from pathlib import Path
import csv

Data_Path = Path('data2')
Data_Path.mkdir(exist_ok=True)
csv_path = Data_Path / "student.csv"

# Write
with csv_path.open('w', newline="",encoding="utf-8") as f:
  writer = csv.writer(f)
  writer.writerow(["Name", "Age"])
  writer.writerow(["Rakib", 20])
  writer.writerow(["Takib", 40])
  writer.writerow(["Yakib", 25])

# Read
with csv_path.open('r',encoding="utf-8") as f:
  reader =  csv.reader(f)
  print(list(reader))

[['Name', 'Age'], ['Rakib', '20'], ['Takib', '40'], ['Yakib', '25']]

## Error Handling

In [33]:
def to_int(s):
    try:
        return int(s)
    except ValueError as e:
        print("ValueError:", e)
        return None

print(to_int("ABC"))
# print("to_int('abc'):", to_int("abc"))

ValueError: invalid literal for int() with base 10: 'ABC'
None

In [34]:
# --- DEMO: raising custom errors ---
def require_positive(n):
    if n <= 0:
        raise ValueError("n must be > 0")
    return n

def dividedbyn(n):
  if n==0:
    raise ZeroDivisionError("0 diye vag kora jabe nah")
  return 100/n;

try:
    # print(require_positive(-1))
    print(dividedbyn(0))
except ZeroDivisionError as e:
    print(e)
except ValueError as e:
    print("Caught:", e)

0 diye vag kora jabe nah