## Tuples

In [9]:
tup =(10,20,30,40)
print(type(tup),tup)

float_tup =(10.5,10.2)
print(type(float_tup),float_tup)

mixed_tup =(10,10.5,"str",True)
print(mixed_tup)

tup1 =tuple([10])
print(type(tup1),tup1)

tup2 =(10,)
print(type(tup2),tup2)

lst =[12,30,40]
tup1=tuple(lst)
print(type(tup1),tup1)

<class 'tuple'> (10, 20, 30, 40)
<class 'tuple'> (10.5, 10.2)
(10, 10.5, 'str', True)
<class 'tuple'> (10,)
<class 'tuple'> (10,)
<class 'tuple'> (12, 30, 40)

In [ ]:
tup =(10,20,30,10.5,"str",False)
#index
print(tup[3])

#slicing
new_tup=tup[0:3]
print(new_tup)

10.5
(10, 20, 30)

In [13]:
#immutability

lst=[10,20,30,40]
lst.append(60)
lst[1]=100
print(lst)

[10, 100, 30, 40, 60]

In [15]:
tup=(10,20,30,40,50,60,10)

print(tup.count(10))
print(tup.index(40))

2
3

## set

In [16]:
a={1,2,3,4,5}

print(type(a),a)

<class 'set'> {1, 2, 3, 4, 5}