In [21]:
phone_number=12345678

print(phone_number)

12345678

In [22]:
print("Hello")
print("World")
print("Good Bye")

Hello
World
Good Bye

In [23]:
name="Rabeya"
print(name)

Rabeya

In [24]:
age=20
hight=5.6
name='Rabeya'
is_passed=True

print(type(age),type(hight),type(name),type(is_passed))
age=222.88
print(type(age))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
<class 'float'>

In [ ]:
name=input("what is your name?")
print(name)

In [ ]:
age=input("Age  ?")
print(age,type(age))

#string hisabe input nise

12 <class 'str'>

In [ ]:
age=input("Age  ?")
age=int(age)# integar ee convert
print(age,type(age))

23 <class 'int'>

In [ ]:
age=int(input("Age  ?"))
print(age,type(age))

66 <class 'int'>

In [ ]:
height=float(input("Height   ??"))
print(type(height))

<class 'float'>

### Operators in Python

In [ ]:
x=10;y=3
sum=x+y
sub=x-y
mult=x*y
div=round(x/y,2)
rem=x%y
print(sum,sub,mult,div,rem)

13 7 30 3.33 1

In [ ]:
x=10;y=3
greater_than =x>10
greater_than_equal=(10>=10)
print(greater_than,greater_than_equal)

False True

## Logical Operator

In [ ]:
x=10;y=5;z=3
result=(x>y)and (x>z)
print(result)

True

## Precedence and Associativity

In [ ]:
eq=(10+10)/2 -5*2
print(eq)

0.0

In [ ]:
x=int(input())
y=int(input())

last_digit_of_x=x%10
last_digit_of_y=y%10

sum= last_digit_of_x + last_digit_of_y

print(sum)

10

In [ ]:
x=input()

print(x,type(x))

12 13 <class 'str'>

In [ ]:
inp = input()
x=inp.split()
x

['12', '13']

In [ ]:
inp = input()
num=inp.split()
x=num[0]
y=num[1]

print(type(x),type(y))

<class 'str'> <class 'str'>

In [ ]:
inp = input()
num=inp.split()
x=int(num[0])
y=int(num[1])

print(type(x),type(y))

<class 'int'> <class 'int'>

In [ ]:
inp = input()
num=inp.split()
x=int(num[0])
y=int(num[1])

last_digit_of_x=x%10
last_digit_of_y=y%10

sum= last_digit_of_x + last_digit_of_y

print(sum)

5

## Conditional statements in Python

In [ ]:
raining = True

if raining== True :
    print("Rain coat is necessary")
else:
    print("Go without a rain coat")

Rain coat is necessary

In [ ]:
raining = False

if raining== True :
    print("Rain coat is necessary")
else:
    print("Go without a rain coat")

Go without a rain coat

In [ ]:
raining = True
Muddy = True

if raining== True :
    print("Rain coat is necessary")
    if Muddy ==True :
        print("Sandal is necessary")
else:
    print("Go without a rain coat")

Rain coat is necessary
Sandal is necessary

In [ ]:
taka = 1000
if taka > 500 :
   print("gurte jabo")
elif taka >400:
   print("Bashai order korbo")
else :
  print("Taka ta save korbo")

gurte jabo

In [ ]:
taka = 1000
raining = False
if taka > 500  and raining ==True:
   print("gurte jabo")
elif taka >400:
   print("Bashai order korbo")
else :
  print("Taka ta save korbo")

Bashai order korbo

## Loop in Python

In [9]:
for i in range(10):
    print(i ,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

In [10]:
for i in range(10):
    print(i ,"Hello world")

list(range(15))

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
# range (start,end,step)
for i in range(1,10):
    print(i ,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

In [12]:
# range (start,end,step)
for i in range(1,10,3):
    print(i ,"Hello world")

1 Hello world
4 Hello world
7 Hello world

In [15]:
for i in range (1,10):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
5 1
5 2
5 3
5 4
6 1
6 2
6 3
6 4
7 1
7 2
7 3
7 4
8 1
8 2
8 3
8 4
9 1
9 2
9 3
9 4

In [26]:
count =1
while count < 10 :
    print("hello world")
    count =count +1

print(count)

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
10

In [28]:
sum = 0
 
for i in range(1,11):
    sum+=i
    print(i,"is added to the sum") 
print(sum)

1 is added to the sum
2 is added to the sum
3 is added to the sum
4 is added to the sum
5 is added to the sum
6 is added to the sum
7 is added to the sum
8 is added to the sum
9 is added to the sum
10 is added to the sum
55

In [30]:
sum = 0
 
for i in range(1,11):
    
    if i%2 ==0 :
        continue
    sum+=i
    print(i,"is added to the sum")

1 is added to the sum
3 is added to the sum
5 is added to the sum
7 is added to the sum
9 is added to the sum

In [37]:
accuracy =95

for i in range(20):
   accuracy+=1
   print(accuracy)
   if accuracy== 100:
      break

96
97
98
99
100

In [17]:
i = 0
while i < 3:
    i += 1
    if i == 2:
        break
print("Done")

Done

In [18]:
for i in range(2):
    for j in range(3):
        if j == 1:
            break
        print(i, j)

0 0
1 0

In [19]:
count = 0
for n in [1, 2, 3, 4, 5]:
    if n % 2 != 0:
        continue
    count += 1
print(count)

2

In [20]:
s = 0
for i in range(1, 5):
    if i % 2 == 0:
        s += i
    else:
        s -= i
print(s)

2

In [21]:
for i in range(5, 0, -1):
    if i % 2 == 0:
        continue
    if i == 3:
        break
    print(i, end="")

5

## Max and Min problem

In [42]:
inp =input()
numbers = inp.split()
print(numbers)

['1', '2', '3']

In [45]:
inp =input()
numbers = inp.split()

x=int(numbers[0])
y=int(numbers[1])
z=int(numbers[2])

print(x,y,z,type(x))

1 2 3 <class 'int'>

In [48]:
inp =input()
numbers = inp.split()

x=int(numbers[0])
y=int(numbers[1])
z=int(numbers[2])

min =x
max=x

## min
if y< min :
    min=y
if z < min:
    min =z

 # max
if y> max :
    max=y
if z > max:
    max =z

print(min ,max)

1 3

In [24]:
# take input of 3 number 

a,b,c=map(int,input().split())

min_num = min(a,b,c)
max_num = max(a,b,c)

print(min_num, max_num)

-1 9

## C. Even, Odd, Positive and Negative

In [49]:
n= int(input())
inp = input()
num= inp.split()
print(num)

['1', '2', '3', '4', '5']

In [50]:
n= int(input())
inp = input()
num= inp.split()

for i in range(n):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>

In [1]:
n= int(input())
inp = input()
num= inp.split()

for i in range(n):
   print(num[i])

1
4
5

In [6]:
n= int(input())
num= input().split()

pos=0;neg=0; odd=0;even=0

for i in range(n):
   x=int(num[i])
#positive or negative
   if x>0:
      pos+=1
   elif x<0:
      neg+=1  

# odd or even
   if x%2 !=0 :
      odd+=1
   else:
      even+=1


print("Even:",even)  
print("Odd:",odd)   
print("Positive:",pos)   
print("Negative:",neg)

Even: 2
Odd: 3
Positive: 4
Negative: 1

## Digits

In [10]:
num=int(input())

while num>0:
    print(num%10)
    #num=int(num/10)
    num//=10

4
3
2
1

In [11]:
num=int(input())

while num>0:
    print(num%10,end=" ")
    #num=int(num/10)
    num//=10

4 3 2 1

In [ ]:
t = int(input())

for i in range(t):
    num = int(input())
    if num ==0:
        print(0)
        continue
    while num > 0:
        print(num % 10, end=" ")
        #num=int(num/10)
        num //= 10
    print()

4 3 2 1