In [19]:
phone_number=12345678

print(phone_number)

12345678

In [20]:
name="Rabeya"
print(name)

Rabeya

In [21]:
age=20
hight=5.6
name='Rabeya'
is_passed=True

print(type(age),type(hight),type(name),type(is_passed))
age=222.88
print(type(age))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
<class 'float'>

In [ ]:
name=input("what is your name?")
print(name)

In [6]:
age=input("Age  ?")
print(age,type(age))

#string hisabe input nise

12 <class 'str'>

In [ ]:
age=input("Age  ?")
age=int(age)# integar ee convert
print(age,type(age))

23 <class 'int'>

In [ ]:
age=int(input("Age  ?"))
print(age,type(age))

66 <class 'int'>

In [ ]:
height=float(input("Height   ??"))
print(type(height))

<class 'float'>

### Operators in Python

In [4]:
x=10;y=3
sum=x+y
sub=x-y
mult=x*y
div=round(x/y,2)
rem=x%y
print(sum,sub,mult,div,rem)

13 7 30 3.33 1

In [5]:
x=10;y=3
greater_than =x>10
greater_than_equal=(10>=10)
print(greater_than,greater_than_equal)

False True

## Logical Operator

In [9]:
x=10;y=5;z=3
result=(x>y)and (x>z)
print(result)

True

## Precedence and Associativity

In [13]:
eq=(10+10)/2 -5*2
print(eq)

0.0

In [16]:
x=int(input())
y=int(input())

last_digit_of_x=x%10
last_digit_of_y=y%10

sum= last_digit_of_x + last_digit_of_y

print(sum)

10

<class 'float'>