- Intro to Function
- Function Parameters
- Function return types
- Iterator and Generator
- Lambda function in python
- Map function 
- Filter function
- Reduce function

## Functions

In [9]:
def greet ():
    print("hello ")
greet()

hello

In [11]:
def greet (user="guest"):
    print(f"hello {user}")
greet()

hello guest

In [ ]:
def greet (user):
    print(f"hello {user}")

In [8]:
greet(" Rabeya")

hello Rabeya

## Function parameters (Input)

In [12]:
def greet (user="guest"):
    print(f"hello {user}")
greet()

hello guest

In [13]:
def square_addition(a,b):
    a=a**2
    b=b**2
    print(a+b)

In [14]:
square_addition(10,20)

500

In [19]:
def square_addition(a,b):
    a=a**2
    b=b**2
    return a+b

In [20]:
ans = square_addition(10,20)+10
print(ans)

510

In [21]:
def square_addition(a,b):
    print(f"{a} {b}")
    a=a**2
    b=b**2
    return a+b
ans = square_addition(10,20)+10
print(ans)

10 20
510

In [25]:
def square_addition(a,b,c):
    print(f"{a} {b} {c}")
    a=a**2
    b=b**2
    return a+b+c
ans = square_addition(10,20,30)+10
print(ans)

10 20 30
540

In [ ]:
def square_addition(a,b,c):
    print(f"{a} {b} {c}")
    a=a**2
    b=b**2
    return a+b+c
# keyword argument
ans = square_addition(c=10,a=20,b=30)+10
print(ans)

20 30 10
1320

In [27]:
def square_addition(* args):
    print(args)
ans = square_addition(10,20,30,40,50)
print(ans)

(10, 20, 30, 40, 50)
None

In [29]:
def square_addition(* args):
    for i in  args:
        print(i)
ans = square_addition(10,20,30,40,50)
print(ans)

10
20
30
40
50
None

In [30]:
def square_addition(* args):
    sum=0
    for i in  args:
        i=i**2
        sum+=i
    return sum    
ans = square_addition(10,20,30,40,50)
print(ans)

5500

In [31]:
def student(** kwargs):
    print(kwargs)
student(name ="Rabeya",cls=10,roll=30,marks=30.5)

{'name': 'Rabeya', 'cls': 10, 'roll': 30, 'marks': 30.5}

In [ ]:
def student(** kwargs):
    for key ,val in kwargs.items():
        print(f"{key} : {val}")
student(name ="Rabeya",cls=10,roll=30,marks=30.5)

name : Rabeya
cls : 10
roll : 30
marks : 30.5

## return

In [34]:
def give_prediction():
    return 10
type(give_prediction())

int

In [35]:
def give_prediction():
    return 10.234567
type(give_prediction())

float

In [36]:
def give_prediction():
    return "name"
type(give_prediction())

str

In [39]:
def give_prediction():
    return 10,12,34
type(give_prediction())

tuple

In [ ]:
#tuple
def give_prediction():
    return 10,12,34
type(give_prediction())
print(give_prediction())

(10, 12, 34)

In [42]:
def give_prediction():
    return 10,12
type(give_prediction())
print(give_prediction())

##unpacking

x,y =give_prediction()
print(x,y)

(10, 12)
10 12

In [2]:
def give_prediction(a,b):
    return a,b

print(give_prediction(10,30))

##unpacking

x,y =give_prediction(10,30)
print(x,y)

(10, 30)
10 30

In [45]:
def give_prediction():
    a=[10,20,30]
    b=[20,30,40]
    return a,b
type(give_prediction())

tuple

In [ ]:
def give_prediction():
    a=[10,20,30]
    b=[20,30,40]
    return a,b


#unpacking
x,y =give_prediction()

print(x)
print(y)

[10, 20, 30]
[20, 30, 40]

In [49]:
def give_prediction():
    a={10,20,30}
    return a
x=give_prediction()

print(type(x))

<class 'set'>

In [50]:
def give_prediction():
    a={10,20,30}
    return a
x=give_prediction()

print(type(x))
for item in x:
    print(item)

<class 'set'>
10
20
30

In [51]:
def give_prediction():
    a={10,20,30}
    b=[100,200,300]
    return a,b
x=give_prediction()

print(type(x))
for item in x:
    print(item)

<class 'tuple'>
{10, 20, 30}
[100, 200, 300]

In [5]:
def give_prediction():
    return{"name":"Rabeya","address":"Savar"}

x=give_prediction()
print(type(x))
give_prediction()

<class 'dict'>

{'name': 'Rabeya', 'address': 'Savar'}

In [53]:
def give_prediction():
    return{"name":"Rabeya","address":"Savar"},{"name":"Noor","address":"Dhaka"}

x,y=give_prediction()
print(type(x))

for item in x:
    print(item)

<class 'dict'>
name
address

In [57]:
def give_prediction():
    return{"name":"Rabeya","address":"Savar"},{"name":"Noor","address":"Dhaka"}

x,y=give_prediction()
print(type(x))

for item in x.items():
    print(item)

<class 'dict'>
('name', 'Rabeya')
('address', 'Savar')

## iterator

In [58]:
s={10,20,30,40}

s_iter=iter(s)
print(type(s_iter))

<class 'set_iterator'>

In [59]:
s={10,20,30,40}

s_iter=iter(s)
print(s_iter)

<set_iterator object at 0x74d1ba62f9c0>

In [ ]:
s={10,20,30,40}

s_iter=iter(s)
print(next(s_iter))

40

In [63]:
s={10,20,30,40}

s_iter=iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

40
10
20
30

In [64]:
s={10,20,30,40}

s_iter=iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

for i in s:
    print(i)

40
10
20
30
40
10
20
30

## generator

In [65]:
lst =[x for x in  range(40)]#dataset
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [71]:
lst =[x for x in  range(40)]#dataset
def data_loader(chunk_size,lst):
    for i in range(len(lst)):
        yield lst[i:i+chunk_size]

x=data_loader(5,lst) 
print(type(x))  
print(x)  
print(next(x))       
print(next(x))

<class 'generator'>
<generator object data_loader at 0x74d1ba757680>
[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [72]:
lst =[x for x in  range(40)]#dataset

def data_loader(chunk_size,lst):
    for i in range(0,len(lst),chunk_size):
        yield lst[i:i+chunk_size]

x=data_loader(5,lst) 
 
print(next(x)) 
print(next(x))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

## Lambda function

In [76]:
def square_addition(x,y):
    return x**2 + y**2
sq_add= lambda x,y : x**2 + y**2 
print(sq_add(2,3))

13

In [77]:
if_even =lambda x : x%2==0
print(if_even(11))

False

## Map

In [79]:
lst =[1,2,3,4,5,6]
def square(x):
    return x**2
lst= map(square,lst)
print(lst)

<map object at 0x74d1d05eb880>

In [81]:
lst =[1,2,3,4,5,6]
def square(x):
    return x**2
lst= list(map(square,lst))
print(lst)

[1, 4, 9, 16, 25, 36]

In [85]:
# string

string ="hello world,welcome to the age of AI "

string1 =list(map(str.upper ,string))
print(string1)

string1= "".join(string1)
print(string1)

string1= "  ".join(string1)
print(string1)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D', ',', 'W', 'E', 'L', 'C', 'O', 'M', 'E', ' ', 'T', 'O', ' ', 'T', 'H', 'E', ' ', 'A', 'G', 'E', ' ', 'O', 'F', ' ', 'A', 'I', ' ']
HELLO WORLD,WELCOME TO THE AGE OF AI
H  E  L  L  O     W  O  R  L  D  ,  W  E  L  C  O  M  E     T  O     T  H  E     A  G  E     O  F     A  I

In [92]:
## map with lambda function

lst = [1,2,3,4,5,6]
lst =(map(lambda x:x**2 ,lst))

print(lst)

lst =list(map(lambda x:x**2 ,lst))

print(lst)

<map object at 0x74d1d060a440>
[1, 16, 81, 256, 625, 1296]

In [88]:
lst = [1,2,3,4,5,6]
lst =list(map(lambda x:x**2  if x%2==0 else x,lst))

print(lst)

[1, 4, 3, 16, 5, 36]

## Filter

In [93]:
numbers =[x for x in range(100)]
print(numbers)

# even
even =filter(lambda x: x% 2==0,numbers)
print(even)

even =list(filter(lambda x: x% 2==0,numbers))
print(even)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
<filter object at 0x74d1d0480070>
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [94]:
fifty_upper = list(filter(lambda x:x>50,numbers))
print(fifty_upper)

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [95]:
data=[0,1,'',None,'Hello',[],[1,2],None,True,False,None]
cleaned_data =list(filter(None,data))

print(cleaned_data)

[1, 'Hello', [1, 2], True]

In [100]:
# string

vowel_ =filter(lambda x:x in "AEIOU", string1)
print(vowel_)

vowel_ =list(filter(lambda x:x in "AEIOU", string1))
print(vowel_)

<filter object at 0x74d1d06359c0>
['E', 'O', 'O', 'E', 'O', 'E', 'O', 'E', 'A', 'E', 'O', 'A', 'I']

In [101]:
fruits =['aaa','bb','ccc','ddddd']
filtering =list(filter(lambda x: len(x)>2 , fruits))

print(filtering)

['aaa', 'ccc', 'ddddd']

## Reduce

In [106]:
from functools import reduce

lst =[1,2,3,4,5,6]

summation=reduce(lambda x,y : x+y,lst)
print(summation)

21

In [108]:
lst =[1,2,10,3,4,5,6]

max_value =reduce(lambda x,y :x if x>y else y ,lst)
print(max_value)

10

In [109]:
# list convert string

lst=["hello","world","welcome","to","programming"]
print(lst)

string =reduce(lambda x,y : x+" "+y ,lst)
print(string)

['hello', 'world', 'welcome', 'to', 'programming']
hello world welcome to programming

## Quiz

In [74]:
def add (a, b=2):
    return a+b
print(add(3))

5

In [75]:
x=list(filter(lambda x: x%2==0, [1,2,3,4]))
print(x)

[2, 4]