-  Mean, median, mode_ when each is appropriate
-

### Mean

In [10]:
import numpy as np 
import pandas as pd 

data=[120,123,124,145,455,677,345,789]
df=pd.DataFrame(data)

# mean
mean_value=df.mean() # Since you created a DataFrame from a list, pandas automatically gives that column a default column index â†’ 0.
print("Mean:", mean_value)


#      0
# 0  120
# 1  123
# 2  124
# 3  145
# 4  455
# 5  677
# 6  345
# 7  789

Mean: 0    347.25
dtype: float64

In [15]:
import numpy as np 
import pandas as pd 

data=[120,123,124,145,455,677,345,789]
df=pd.DataFrame(data)

# mean
mean_value=df.mean()[0]
print("Mean:", mean_value)

Mean: 347.25

In [13]:
import numpy as np 
import pandas as pd 

data=[120,123,124,145,455,677,345,789]
df=pd.DataFrame(data)

# mean
mean_value = pd.Series(data)
print("Mean:", mean_value.mean())

Mean: 347.25

In [17]:
import numpy as np 
import pandas as pd 

data=[120,123,124,145,455,677,345,789]
df=pd.DataFrame({'HousePrice':data})

# mean
mean_value=df['HousePrice'].mean()
print("Mean:", mean_value)

Mean: 347.25

### Median

In [18]:
median_value=df['HousePrice'].median()
print("Median:",median_value)

Median: 245.0